/* FONT-FAMILY */

$font-headings: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;


/* FONT-SIZE */

$Logo-fontSize: 1.5rem; //24px
$Big-fontSize: 1.25rem; //20px
$Medium-fontSize: 1.125rem; //18px
$Regular-fontSize: 1rem;    //16px
$Small-fontSize: .875rem;   //14px