@use './variables' as *;
@use './fonts' as *;

@mixin operation-card-before($content) {
  content: $content;
  position: absolute;
  left: 0;
  margin-left: -10px;
  padding: 0.3em 0.6em;
  background-color: $color-primary;
  color: $color-white;
  border-radius: 25px;
  font-size: $Small-fontSize;
}

%operation-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.7em 2em;
  position: relative;
}
