
/* COLORS */

$color-white: hsla(0,0%,100%,1);
$color-black: hsla(0,0%,0%,1);

$color-location: hsla(0,0%,93%,1);
$color-shadow: hsla(0,0%,83%,1);
$color-footer: hsla(0,0%,24%,1);
$color-sectionBackground: hsla(0,0%,96%,1);
$color-cardBackground: hsla(317,100%,74%,.1);
$color-newTag: hsla(182,100%,20%,1);

$color-primary: hsla(267,66%,60%,1);
$color-secondary: hsla(317,100%,74%,1);
$color-tertiary: hsla(165,56%,75%,1)






