@use '../abstracts' as *;

.like-btn {
    position: relative;
    justify-self: end;
    width: 30px;
    

    .heart-empty {
        position: absolute;
        transform-origin: center;
        transform: scale(.9);
    }

    .heart-full {
        opacity: 0;
        position: absolute;
        transition: opacity .6s ease-in-out .2s;
        background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;

        &:hover {
            opacity: 1;
        }
    }
}