/* FONT-FAMILY */
/* FONT-SIZE */
/* COLORS */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-size: 1.25rem;
}

p, a {
  font-size: 1rem;
}

.cta {
  display: inline-block;
  padding: 0.8em 1.3em;
  background: linear-gradient(to bottom right, #ff7ad9, #9256dc);
  color: white;
  text-decoration: none;
  border-radius: 25px;
  margin: 2em auto;
  box-shadow: 3px 3px 7px #d4d4d4;
}

.card {
  border-radius: 15px;
  box-shadow: 3px 3px 7px #d4d4d4;
  width: 100%;
  margin: 0 auto;
}
.card:not(:last-child) {
  margin-bottom: 1em;
}

.hero__header {
  /*box-shadow: 3px 3px 7px $color-shadow;
  margin-bottom: 4px;*/
}
.hero__header .hero__header__logo {
  text-align: center;
  padding: 0.66em 0;
  margin: 0;
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
}

.footer {
  background-color: #3d3d3d;
  padding: 1.5em 1.5em 2em 1.5em;
}
.footer a {
  text-decoration: none;
  display: block;
  color: white;
}
.footer .footer__logo {
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 1em 0;
}
.footer .footer__text {
  font-size: 1rem;
}
.footer .footer__text:not(:last-child) {
  margin-bottom: 0.5em;
}
.footer .footer__text--bold {
  font-weight: 500;
}
.footer .footer__text__icon {
  font-size: 12px;
  margin-right: 0.5em;
}

.hero .hero__location {
  background-color: #ededed;
  text-align: center;
  padding: 1em 0;
}
.hero .hero__location .hero__location__text {
  font-size: 0.875rem;
  color: #3d3d3d;
}
.hero .hero__location .hero__location__text__icon {
  margin-right: 0.8em;
}
.hero .hero-container {
  text-align: center;
  background-color: whitesmoke;
  padding: 1em;
}
.hero .hero-container .hero__heading {
  text-align: center;
  padding: 0.8em 2em;
  margin: 0;
}
.hero .hero-container .hero__subheading {
  text-align: center;
}

.operation {
  padding: 2.5em 1.5em;
}
.operation .operation__heading {
  margin-bottom: 1em;
}
.operation .operation__card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.7em 2em;
  position: relative;
  /*.operation__card__one {
      @extend %operation-card;

    &::before {
      @include operation-card-before("1");
    }
  }

  .operation__card__two {
      @extend %operation-card;

    &::before {
      @include operation-card-before("2");
    }
  }

  .operation__card__three {
      @extend %operation-card;

    &::before {
      @include operation-card-before("3");
    }
  }*/
}
.operation .operation__card--active {
  background-color: rgba(255, 122, 217, 0.1);
}
.operation .operation__card--active .operation__card__icon {
  color: #9256dc;
}
.operation .operation__card__one:before {
  content: "1";
  position: absolute;
  left: 0;
  margin-left: -10px;
  padding: 0.3em 0.6em;
  background-color: #9256dc;
  color: white;
  border-radius: 25px;
  font-size: 0.875rem;
}
.operation .operation__card__two:before {
  content: "2";
  position: absolute;
  left: 0;
  margin-left: -10px;
  padding: 0.3em 0.6em;
  background-color: #9256dc;
  color: white;
  border-radius: 25px;
  font-size: 0.875rem;
}
.operation .operation__card__three:before {
  content: "3";
  position: absolute;
  left: 0;
  margin-left: -10px;
  padding: 0.3em 0.6em;
  background-color: #9256dc;
  color: white;
  border-radius: 25px;
  font-size: 0.875rem;
}
.operation .operation__card__icon {
  color: #3d3d3d;
  font-size: 1.25rem;
}
.operation .operation__card__text {
  margin-left: 1.5em;
  font-weight: 500;
}

.restaurant {
  padding: 3em 1.5em 4em 1.5em;
  background-color: whitesmoke;
}
.restaurant .restaurant__heading {
  margin-bottom: 1em;
}
.restaurant .restaurant__card__img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant .restaurant__card__img--2 {
  object-position: 50% 61%;
}
.restaurant .restaurant__card__img--3 {
  object-position: 70% 90%;
}
.restaurant .restaurant__card__img--4 {
  object-position: 50% 90%;
}
.restaurant .restaurant__card__text-container {
  padding: 0.8em;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.3em;
  grid-template-areas: "heading heart" "subheading heart";
}
.restaurant .restaurant__card__text-container .restaurant__card__heading {
  grid-area: heading;
  font-size: 1.125rem;
}
.restaurant .restaurant__card__text-container .restaurant__card__subheading {
  grid-area: subheading;
  font-size: 1rem;
}
.restaurant .restaurant__card__text-container .restaurant__card__icon {
  grid-area: heart;
  align-self: start;
  justify-self: center;
  font-size: 1.5rem;
}

.hero__header--flex {
  display: flex;
  align-items: center;
  padding-left: 1em;
}
.hero__header--flex .hero__header__return {
  color: inherit;
}
.hero__header--flex .hero__header__logo {
  margin-left: 23%;
}

.hero__img {
  max-width: 100%;
  object-fit: cover;
}

.menu {
  padding: 2em 1em;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: whitesmoke;
}
.menu__heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__heading-container .menu__heading__text {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
}
.menu__heading-container .menu__heading__icon {
  font-size: 1.25rem;
}
.menu__section-title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  margin-top: 2em;
  margin-bottom: 1em;
}
.menu__section-title::after {
  content: "";
  width: 2em;
  height: 4px;
  background-color: #9ce3d1;
  z-index: 10;
}
.menu__card {
  padding: 0.8em;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.3em;
  grid-template-areas: "heading price" "subheading price";
}
.menu__card:not(:last-child) {
  margin-bottom: 3em;
}
.menu__card .menu__card__title {
  grid-area: heading;
  font-size: 1.125rem;
  font-weight: 700;
}
.menu__card .menu__card__subtitle {
  grid-area: subheading;
  font-size: 1rem;
}
.menu__card .menu__card__price {
  grid-area: price;
  align-self: end;
  justify-self: center;
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
