@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;

.loader-container {
  position: absolute;
  background-color: $color-white;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: loader 3s ease-out 1 forwards;
  -moz-animation: loader 3s ease-out 1 forwards;


  @keyframes loader {
    75% {
      opacity: 1;
    }

    99% {
      opacity: 0;
    }

    100% {
      z-index: -10;
    }
  }
  

  .spinner {
      z-index: 20;
      border: 12px solid #f3f3f3;
      border-top: 12px solid $color-primary; 
      border-right: 12px solid $color-secondary;
      border-bottom: 12px solid $color-tertiary; 
      border-radius: 50%;
      width: 80px;
      height: 80px;
      animation: spin 2s linear infinite;
    
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }
}

.hero {
  .hero__location {
    background-color: $color-location;
    text-align: center;
    padding: 1em 0;

    .hero__location__text {
      font-size: $Small-fontSize;
      color: $color-footer;
    }

    .hero__location__text__icon {
      margin-right: 0.8em;
    }
  }

  .hero-container {
    text-align: center;
    background-color: $color-sectionBackground;
    padding: 1em;

    .hero__heading {
      text-align: center;
      padding: 0.8em 2em;
      margin: 0;
    }

    .hero__subheading {
      text-align: center;
    }
  }
}

.operation {
  padding: 2.5em 1.5em;
  background-color: $color-white;

  .operation__heading {
    margin-bottom: 1em;
  }

  .operation__card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.7em 2em;
    position: relative;
    max-width: 300px;

    &--active {
        background-color: $color-cardBackground;

        .operation__card__icon {
            color: $color-primary;
        }
    }

    &__one:before {
            content: "1";
            position: absolute;
            left: 0;
            margin-left: -10px;
            padding: 0.3em 0.6em;
            background-color: $color-primary;
            color: $color-white;
            border-radius: 25px;
            font-size: $Small-fontSize;
        }

    &__two:before {
        content: "2";
        position: absolute;
        left: 0;
        margin-left: -10px;
        padding: 0.3em 0.6em;
        background-color: $color-primary;
        color: $color-white;
        border-radius: 25px;
        font-size: $Small-fontSize;
    }

    &__three:before {
        content: "3";
        position: absolute;
        left: 0;
        margin-left: -10px;
        padding: 0.3em 0.6em;
        background-color: $color-primary;
        color: $color-white;
        border-radius: 25px;
        font-size: $Small-fontSize;
    }

    &__icon {
        color: $color-footer;
        font-size: $Big-fontSize;
    }

    &__text {
        margin-left: 1.5em;
        font-weight: 500;
    }
  }
}

.restaurant {
    padding: 3em 1.5em 4em 1.5em;

    a {
      display: block;
      text-decoration: none;
      color: inherit;
    }

    .restaurant__heading {
        margin-bottom: 1em;
    }

    .restaurant__card__img {
        width: 100%;
        height: 190px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        &--2 {
            object-position: 50% 61%;
        }

        &--3 {
            object-position: 70% 90%;
        }

        &--4 {
            object-position: 50% 90%;
        }
    }

    .restaurant__card__img-container {
      position: relative;

      .restaurant__card__new-tag {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: $Small-fontSize;
        background-color: $color-tertiary;
        color: $color-newTag;
        padding: .4em .7em;
        border-radius: 3px;
      }
    }

    .restaurant__card__text-container {
        padding: .8em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto auto;
        gap: .3em;
        grid-template-areas: 
            "heading heart"
            "subheading heart";
        
        .restaurant__card__heading {
            grid-area: heading;
            font-size: $Medium-fontSize;
        }

        .restaurant__card__subheading {
            grid-area: subheading;
            font-size: $Regular-fontSize;
        }

        .restaurant__card__icon {
            grid-area: heart;
            align-self: start;
            justify-self: center;
            font-size: 1.5rem;
        }
    }
}


/* RESPONSIVE */

@media (min-width: 668px){

  .operation__heading {
    text-align: center;
  }

  .restaurant__heading {
    text-align: center;
  }

  .restaurant__card-container {
    display: flex;
    flex-flow: row wrap;
  }

  .restaurant__card {
    width: 47.5%;
    height: 260px;
  }
}

@media (min-width: 1046px){
  .operation__card-container {
    display: flex;
  }

  .operation__card {
    height: 75px;
  }

  .restaurant__card {
    width: 23%;
  }
}
