@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;

body {
    background-color: $color-sectionBackground;
}

.hero__header--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-left: 1em;

    .hero__header__return {
        color: inherit;
        justify-self: left;
    }

    .hero__header__logo {
        justify-self: center;
    }
}

.hero__img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.menu {
    padding: 2em 1em 0 1em;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: $color-sectionBackground;
    position: relative;
    top: -40px;

    .border {
        border-bottom: 3px solid $color-tertiary;
        padding-bottom: .3em;
    }

    &__heading-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu__heading__text {
            font-family: $font-headings;
            font-size: $Logo-fontSize;
            margin: 0;
        }

        .menu__heading__icon {
            font-size: $Big-fontSize;
        }
    }

    &__section-title {
        text-transform: uppercase;
        font-weight: 300;
        font-size: $Regular-fontSize;
        margin-top: 2.5em;
        margin-bottom: 1.5em;
    }

    /* CARD APPEARANCE ANIMATION */

    &__card-container--starter {
        opacity: 0;
        animation: starter 1s ease-out 1s 1 forwards;
    }

    @keyframes starter {
        100% {
            opacity: 1;
        }
    }

    &__card-container--course {
        opacity: 0;
        animation: course 1s ease-out 2s 1 forwards;
    }

    @keyframes course {
        100% {
            opacity: 1;
        }
    }

    &__card-container--dessert {
        opacity: 0;
        animation: dessert 1s ease-out 3s 1 forwards;
    }

    @keyframes dessert {
        100% {
            opacity: 1;
        }
    }
    /* CARD APPEARANCE ANIMATION END*/


    /* CARD HOVER ANIMATION */
    
    &__card {
        display: flex;
        background-color: $color-tertiary;
        transition: width 1s ease-in-out;

        &:hover .anim-container {
            width: 20%;
            transform: rotate(360deg);
            opacity: 1;
        }
    }
    /* CARD HOVER ANIMATION END*/

    .text-container {
        padding: .8em;
        width: 100%;
        border-radius: 15px;
        text-overflow: ellipsis;
        background-color: $color-white;
        position: relative;
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: auto auto;
        gap: .3em;
        grid-template-areas: 
            "heading price anim"
            "subheading price anim";
        
        .menu__card__title {
            grid-area: heading;
            font-size: $Medium-fontSize;
            font-weight: 700;
        }

        .menu__card__subtitle {
            grid-area: subheading;
            font-size: $Regular-fontSize;
            font-weight: 300;
        }

        .menu__card__price {
            grid-area: price;
            align-self: end;
            justify-self: right;
            font-size: $Regular-fontSize;
            font-weight: bold;
        }
    }

    .anim-container {
        z-index: 10;
        width: 0;
        transition: all 1s linear;
        overflow: hidden;
        position: relative;

        .anim__icon {
            background-color: transparent;
            overflow: hidden;
            color: $color-white;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            font-size: 1.5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .cta-container {
        display: flex;
        justify-content: center;
    }
}


/* RESPONSIVE */

@media (min-width: 668px){
    .menu__heading-container {
        justify-content: center;
        column-gap: 1em;
    }

    .menu__section-title {
        text-align: center;
    }
    
    .menu__card {
        max-width: 350px;
    }
  }
  
  @media (min-width: 1046px){
    .menu__card-container {
        display: flex;
        column-gap: 1em;
    }

    .menu__card {
        height: 88px;

        &__title {
            align-self: center;
        }

        &__price {
            align-self: top;
        }
    }
  }